version: '3.3'

services:
  psql:
    container_name: lwm-db
    image: postgres:11.4
    restart: always
    expose:
      - 5432
    environment:
      POSTGRES_USER: ${USERNAME}
      POSTGRES_PASSWORD: ${PASSWORD}
      POSTGRES_DB: ${USERNAME}
    volumes:
      - psql_vol:/var/lib/postgresql/data

  backend:
    container_name: lwm-backend
    image: lwm-backend
    restart: always
    ports:
      - 9000:9000
    environment:
      LWM_DB_URL: jdbc:postgresql://psql:5432/${USERNAME}
      LWM_DB_USER: ${USERNAME}
      LWM_DB_NAME: ${USERNAME}
      LWM_DB_PASSWORD: ${PASSWORD}
    volumes:
    - backend_logs_vol:/lwm/logs
    depends_on:
      - psql

  frontend:
    container_name: lwm-frontend
    image: lwm-frontend
    restart: always
    ports:
      - 80:80
      - 443:443
    volumes:
      - nginx_cert_vol:/etc/cert
      - nginx_config_vol:/etc/nginx/conf.d

volumes:
  psql_vol:
  nginx_cert_vol:
  nginx_config_vol:
  backend_logs_vol:
